body {
    background-color: #F0F0EE;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

p {
    margin: 0;
}

/* Global classes */

.content-size {
    width: 100%;
    max-width: 1200px;
}



/* HEADER MESSAGE SECTION */

.header-message-container {
    height: 30px;
    background-color: #20322E;
    font-size: 12px;
    color: #F0F0EE;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

/* HEADER CONTACT CONTAINER */

.header-contact-container {
    height: 39px;
    background-color: #EAEDE9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1.5px solid #20322E;
}

.header-contact-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #20322E;
    font-size: 14px;
}

.header-menu-container {
    height: 70px;
    background-color: #EAEDE9;
    box-shadow: 0px 9px 3px -7px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-menu-content {
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 50px;
    height: 50px;
}

.header-right-itens-container {
    display: flex;
    align-items: center;
    gap: 25px;
}

.input-search {
    outline: none;
    height: 25px;
    width: 200px;
    border: solid 1px #20322E;
    border-radius: 20px;
    padding-left: 15px;
    background-color: transparent
}

.input-search:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 5px #478fe2;
}

.cart-icon {
    height: 28px;
}

.menu-itens-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu-item {
    font-size: 16px;
    color: #20322E;
    text-transform: uppercase;
    text-decoration: none;
}